<%= render 'categories/categoryHeader' %>
<div class="grid grid-cols-3">
  <% @product.each do |product| %>
    <%= link_to product_path(product.id), class: "my-8", id: dom_id(product) do %>

      <%= image_tag product&.photos[0], width: 200 if product.photos.attached? %>
      <span class="text-fuchsia-600"><%= product.title %></span>
      <br>
      <span class="text-fuchsia-600">Q<%= product.price %></span>

      <%# if product&.tags.present? %>
      <!--        <strong>Tags:</strong>-->
      <%# end %>
      <%# product&.tags.each do |tag| %>
      <!--        <span class="tag"><%#= tag.name.capitalize %></span>-->
      <%# end %>

    <% end %>
  <% end %>
</div>