<%= form_with model: @product do |form| %>
  <% @product.errors.full_messages.each do |error| %>
    <div>
      <%= error %>
    </div>
  <% end %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>

    <%= form.label :description %>
    <%= form.text_area :description %>

    <%= form.label :price %>
    <%= form.number_field :price %>

    <%#= form.label :descripcion %>
    <%#= form.collection_select :category_id, Category.all.order(name: :asc), :id, :name %>

    <%#= form.label :photo %>
    <%#= form.file_field :photo %>
  </div>
  <%= form.submit %>
<% end %>